{% macro profile(data) %}
<div
    class="whatwedo_crud-profile relative flex-shrink-0 flex items-center inline-flex border-t border-neutral-200 p-4"
    {{ stimulus_controller('araise/core-bundle/dropdown', {'alignment': 'top'}) }}
>

    <button
        class="whatwedo_crud-profile__meta flex hover:text-neutral-700 gap-x-2 items-center w-full"
        {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') |
        stimulus_action('araise/core-bundle/dropdown', 'close', 'scroll@window') |
        stimulus_action('araise/core-bundle/dropdown', 'layoutCalculate') |
        stimulus_action('araise/core-bundle/dropdown', 'layoutCalculate', 'resize@window') }}
        type="button"
    >
        <div class="whatwedo_crud-profile__picture">
            {% if data.picture_src|default() %}
                <img class="inline-block h-8 w-8 md:h-10 md:w-10 rounded-full"
                     src="{{ data.picture_src }}" alt=""
                     crossorigin="anonymous" referrerpolicy="no-referrer">
            {% endif %}
        </div>
        <p class="text-base font-medium text-left text-neutral-900 transition-colors hover:text-neutral-700 grow">
            {{ data.name }}
        </p>
        {{ bootstrap_icon('chevron-up', { class: 'h-4 w-4', alt: 'Open profile detail'}) }}
    </button>

    <div
        {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
        class="z-50 hidden transition duration-300 transform absolute left-0 top-0 w-full md:w-64"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
        tabindex="-1"
    >
        <div class="flex flex-col gap-y-2 m-4 -mb-1 px-4 pt-2 pb-3 rounded-sm shadow-md z-10 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
            <div class="border-b">
                <span class="inline-block whatwedo-utility-paragraph text-sm leading-none mb-3">Angemeldet als</span>
                <div class="flex gap-x-2 items-center whatwedo-utility-bold text-neutral-900 mb-3">
                    {% if data.picture_src|default() %}
                        <img class="inline-block h-6 w-6 md:h-8 md:w-8 rounded-full"
                             src="{{ data.picture_src }}" alt=""
                             crossorigin="anonymous" referrerpolicy="no-referrer">
                    {% endif %}
                    <span>{{ data.name_detail ?? data.name }}</span>
                </div>
            </div>

            {% if data.edit_link|default() %}
                <a
                    href="{{ data.edit_link }}"
                    class="flex whatwedo-utility-paragraph transition-colors hover:text-neutral-500"
                >
                    {{ bootstrap_icon('pencil-square', { class: 'h-3 w-3 self-center mr-2', alt: '' }) }}
                    {{ 'araise_crud.profile.edit_link' | trans }}
                </a>
            {% endif %}

            {% if data.logout_link|default() %}
                <a
                    href="{{ data.logout_link }}"
                    class="flex whatwedo-utility-paragraph transition-colors hover:text-neutral-500"
                >
                    {{ bootstrap_icon('box-arrow-right', { class: 'h-3 w-3 self-center mr-2', alt: '' }) }}
                    {{ 'araise_crud.profile.logout' | trans }}
                </a>
            {% endif %}

        </div>
    </div>
</div>
{% endmacro %}

{{ '<code>Please use the Macro "profile" to render the profile dropdown. From the file you are already calling.</code>' }}
