{% block content %}
    {# @var content \araise\CrudBundle\Content\Content #}
    {# @var block \araise\CrudBundle\Block\Block #}
    {# @var view \araise\CrudBundle\View\DefinitionView #}
    {% set isHiddenType = content.options['form_type'] in ['araise\\CrudBundle\\Form\\Type\\EntityHiddenType', 'Symfony\\Component\\Form\\Extension\\Core\\Type\\HiddenType'] %}
    {% set isFormCase = form is defined %}
    {% set contentAcronym = view.definition.formAccessorPrefix ~ content.acronym %}
    {% set attr = content.option('attr')|default([])|filter((k,i) => k != 'class') %}
    <div
        id="wwd-crud-block-{{ block.acronym }}-content-{{ contentAcronym }}"
        class="{% if (not isHiddenType and isFormCase) or not isFormCase %}px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4{% endif %} {{ content.option('attr')['class'] ?? '' }}"
        {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
    >
        <dt
            class="whatwedo-utility-bold text-neutral-500 overflow-hidden truncate"
            id="wwd-crud-block-{{ block.acronym }}-content-{{ contentAcronym }}-label"
            title="{{ content.option('label')|trans|striptags }}"
        >
            {{ content.option('label')|trans|raw }}
            {% if content.option('help') is not empty %}
                <span {{ stimulus_controller('araise/crud-bundle/tooltip', { 'title': content.option('help')|trans } ) }}>
                    {{ bootstrap_icon('info-circle-fill', {
                        class: 'inline cursor-help',
                    }) }}
                </span>
            {% endif %}
        </dt>
        <dd class="whatwedo-utility-content mt-1 text-base text-neutral-900 sm:mt-0 sm:col-span-2" id="wwd-crud-block-{{ block.acronym }}-content-{{ contentAcronym }}-content">
            {% if form is defined %}
                <div
                    {% if content.options['ajax_form_trigger'] %}
                        {{ stimulus_target('araise/crud-bundle/ajax-form', 'ajax') }}
                        class="wwd-ajax-div"
                    {% endif %}
                >
                    {{ form_widget(attribute(form, contentAcronym)) }}
                </div>
                {% if attribute(form, contentAcronym).vars.errors|length %}
                    <div class="whatwedo-utility-error-container help-block">
                        {{ form_errors(attribute(form, contentAcronym)) }}
                    </div>
                {% endif %}
            {% else %}
                {{ wwd_crud_render_content_value(content) }}
            {% endif %}
        </dd>
    </div>
{% endblock %}

{% block relation_content %}
    {# @var content \araise\CrudBundle\Content\RelationContent #}
    {# @var block \araise\CrudBundle\Block\Block #}
    {# @var view \araise\CrudBundle\View\DefinitionView #}
    {% if form is defined and not content.option('show_table_in_form') %}
        {{ block('content') }}
    {% else %}
        {% set isOnShow = view.route == constant('araise\\CrudBundle\\Enums\\Page::SHOW') %}
        {% set attr = content.option('attr')|default([])|filter((k,i) => k != 'class') %}
        {% if isOnShow %}
            <div class="inline-block w-full {{ content.option('attr')['class'] ?? '' }}"
            {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
            {% set reloadUrl = content.reloadUrl(view.data) %}
            {% if reloadUrl %}
            {{ stimulus_controller('araise/core-bundle/reload-content', { url: reloadUrl }) }}
            {{ stimulus_action('araise/core-bundle/reload-content', 'refreshContent', 'success') }}
            {% endif %}
            >
        {% endif %}
        {% if content.option('label') %}
            <span class="block whatwedo-utility-bold text-neutral-500 px-4 py-3">
                {{ content.option('label')|trans|raw }}
            </span>
        {% endif %}

        {{ araise_table_render(content.table(view.data)) }}

        {% if view.route == constant('araise\\CrudBundle\\Enums\\Page::SHOW') %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block enum_content %}
    {{ block('content') }}
{% endblock %}

{% block twig_content %}
    {# @var content \araise\CrudBundle\Content\RelationContent #}
    {# @var block \araise\CrudBundle\Block\Block #}
    {# @var view \araise\CrudBundle\View\DefinitionView #}
    {% set attr = content.option('attr')|default([])|filter((k,i) => k != 'class') %}
    {% with content.option('parameters') %}
        <div class="bg-white {{ content.option('attr')['class'] ?? '' }}" {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
            {% include content.option('template') %}
        </div>
    {% endwith %}
{% endblock %}

